.slider {
    position: relative;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 1407px;
    height: 600px;
    border-radius: 10px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.right-arrow {
    position: absolute;
    top: 30%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 30%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 0.1s;
    transform: scale(1.08);
}

.product_row {
    display: flex;
    margin-left: 20px;
}

.credit {
    position: relative;
    top: -350px;
    border: 1px solid;
    margin-left: 5px;
}

.ok1 {
    height: 310px;
    width: 230px;
}